body{
    margin: 0;  
    padding: 0;  
    background-image: url(imagenes/fondo_juegos.jpg);
    font-family: cursive;
    overflow-y: hidden;
    overflow-x: hidden;
}

header{
    font-family: cursive;
    background-color: #b069e8;
    padding:1rem 5rem;
    height: 50px;
    display: flex; /* alineado del contenido*/
    justify-content: space-between; /* justificado al inicio y al final*/
    align-items: center;
}

nav ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

nav a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    display: flex;
}

.logo{
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}

.menu_hobbies {
    position: relative;
    
}

.menu_contenido {
    display: none;
    position: absolute;
    background-color: rgba(95, 18, 158, 0.788);
    min-width: 100px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    top: 100%;
    left: 0;
    z-index: 1;
}


.menu_hobbies:hover .menu_contenido {
    display: flex;
}
.menu_contenido li {
    margin: 0;  
    padding: 0; 
}
.menu_contenido a {
    color: #000000;
    padding: 6px 12px;
    text-decoration: none;
    font-weight: normal;
    text-align: center;
    display: block;
}

.menu_contenido a:hover {
    background-color: #ffffff;
}

.seccion_gamer {
  position: relative;
  height: 100vh;
  background-image: url('imagenes/fondo_valorant.jpg'); /* si tienes uno */
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/* Texto centrado */
.texto_centrado {
  position: absolute;
  top: 25%;
  left: 40%;
  color: #F1D233;
  width: 600px;
  text-align: center;
  font-family: cursive;
  font-size: 25px;
}

.texto_centrado h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.carrusel_juegos {
  position: absolute;
  top: 2%;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 900px;
  overflow-y: auto;
}

.carrusel_juegos img {
  width: 200px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.carrusel_juegos img:hover {
  transform: scale(1.05);
}
