body{
    margin: 0;  
    padding: 0;  
    background-color:#b069e8;
    font-family: cursive;
    overflow-x: hidden;
}

header{
    position: fixed;
    width: 100%;
    font-family: cursive;
    background-color: rgb(255, 255, 255);
    padding:1rem;
    height: 50px;
    align-items: center;
}
.contenedor {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

nav a{
    color: #b069e8;
    text-decoration: none;
    font-weight: bold;
    display: flex;
}

.logo{
    font-weight: bold;
    font-size: 20px;
    color: #b069e8;
}

.menu_hobbies {
    position: relative;
    
}

.menu_contenido {
    display: none;
    position: absolute;
    background-color: rgba(95, 18, 158, 0.788);
    min-width: 100px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    top: 100%;
    left: 0;
}

.menu_hobbies:hover .menu_contenido {
    display: flex;
}
.menu_contenido li {
    margin: 0;  
    padding: 0; 
}
.menu_contenido a {
    color: #000000;
    padding: 6px 12px;
    text-decoration: none;
    font-weight: normal;
    text-align: center;
    display: block;
}

.menu_contenido a:hover {
    background-color: #ffffff;
}

.musica{
    padding: 2rem 8rem;
    justify-content: center;
    font-family: cursive;
    text-align: justify;
}
h1{
    margin-top: 180px;
    font-family:cursive;
    text-align: center;
    font-size: 30px;
}
p{
    font-size: 20px;
}
.intro{
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 30px;
    text-align: justify;
}

.intro img{
    width: 300px;
    height: auto;
}
.galeria_musica{
    padding: 30px;
    font-family: cursive;
    text-align: center;
}
.carrusel_musica{
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;

}

.carrusel_musica img{
    width: 250px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.carrusel_musica img:hover {
    transform: scale(1.05);
}
