body{
    
    margin: 0;  /* margen  de todo en general*/
    padding: 0;  /* espacio entre los archivos y el borde*/
    background-color:rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif
}

header{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    padding:1rem 2rem;
    height: 50px;
    display: flex; /* alineado del contenido*/
    justify-content: space-between; /* justificado al inicio y al final*/
    align-items: center;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a{
    color: #b069e8;
    text-decoration: none;
    font-weight: bold;
    display: flex;
}

.logo{
    font-weight: bold;
    font-size: 20px;
    color: #b069e8;
}

.bienvenida{
    background-image: url(imagenes/bienvenida.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    padding: 20px 100px;
    height: 350px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
}
.bienvenida p{
    font-size: 25px;
    font-weight: lighter;
    margin-top: 0;
}

.foto_circular{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.sobre_mi{
    height: 150px;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 4rem 7rem;
    gap: 30px;
    text-align: justify;
    background-color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hobbies{
    display: flex;
    padding: 10px;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    width: 100vw;
    box-sizing: border-box;

}
.contenedor {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;  
    max-width: 480px;
}
.tarjetas{
    border: 2px solid #000000;
    position: relative;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.tarjetas img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    display: block;
}
.tarjetas p{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    color: aliceblue;
    text-align: center;
}
.izquierda,
.derecha{
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #b069e8;
    padding: 10px;
    transition: transform 0.2s ease;
}
.izquierda:hover,
.derecha:hover {
  transform: scale(1.2);
  color: #000;              
}
.lectura{
    background-image: url(imagenes/fondo\ lectura.jpg);
    padding: 10px;
    background-size: cover;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.lectura p{
    margin-top: 0;
}