body {
  background-color: #f7f3ff;
  margin: 0;
  padding: 0;
  font-family: cursive;
}

.seccion_gamer {
  min-height: 100vh;
  padding: 100px 10rem 10rem; 
  background-image: url('/imagenes/hobbies/juegos/fondo_juegos.jpg'); 
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10rem;

}

.texto_centrado {
  position: absolute;
  top: 26%;
  left: 40%;
  color: #F1D233;
  width: 600px;
  text-align: center;
  font-family: cursive;

}
.texto_centrado p {
  font-size: 25px;
  line-height: 1.6;
}
.texto_centrado h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.carrusel_juegos {
  margin-top: 10px;
  position: absolute;
  top: 10%;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 820px;
  overflow: hidden; 
}

.carrusel_juegos img {
  width: 200px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.carrusel_juegos img:hover {
  transform: scale(1.05);
}
